{% extends 'donuts/base.html' %}
{% block content %}
<div align="center" class="main">Drinks</div>
<div class="product-list">
    {% for d in drinks %}
    <div class="product">
        <br />
        <img class= "product-image" src="{{ d.image }}" height="150" width="200" >
        <br />
        <div class="product-name">{{ d.name }} </div>
        <br />
        <br />
        <br />
    </div>
    {% endfor %}
</div>
<div align="center" class="menu">
    <img align="center" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/56410969_314540059234047_6994875397162663936_n.jpg?_nc_cat=102&_nc_oc=AQlIhuKp2iMDeLsMk9hY3dshqhFvzyuXBc5dj5T2xUicKYkcRMq6T1wBLmoY49b9ohE&_nc_ht=scontent-iad3-1.xx&oh=4848ffec838f2d6929dbced80c3cc1af&oe=5D62D40E">
</div>
{% endblock %}
