{% extends 'donuts/base.html' %}

{% block content %}
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>
This is the index page.<br>


{% endblock %}
