.product {
  background: #c9c8cd;
  border: solid goldenrod;
  margin: 16px;
  width: 200px;
  border-radius: 2px;

  .product-image {
    overflow: hidden;
    border-radius: 2px 2px 0 0;
    max-height: 200px;

    img {
      cursor: zoom-in;
      width: 100%;
      height: auto;
      transition: transform 300ms ease-in;
      transform: scale(1);
      @media (min-width: 991px) {
        min-height: 200px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}